#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* flex-direction: column; */
    border: 2px solid green;
}

#form-frame {
    height: 82%;
    width: 23vw;
    border: 2px solid red;
}

h4 {
    margin-left: 5px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
}

form {
    width: 95%;
    margin: 0 auto;
}

label,
select {
    display: block;
    margin-bottom: 1rem;
}

input,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

button {
    margin-top: 1rem;
    background-color: #1f5303;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-left: 123px;
    cursor: pointer;
    margin-bottom: 15px;
}

label {
    font-weight: 800;
    margin-bottom: 0;
}

.inputs {
    margin-bottom: 10px;
    margin-left: 5px;
}

.bg-color {
    background-color: rgb(250, 237, 237);
    height: 83%;

}